.md-pkglist {
    display: flex;
    flex-direction: row;
    padding : 8px 10px;
}

.pkg-img-container {
    margin: 0 5px;
    padding: 2px 2px;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 0.19);
    overflow: hidden;
}

.pkg-img-container:hover {
    border-radius: 40%;
    cursor: pointer;
}

.pkg-img {
    margin: 0px auto;
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

.clicked {
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.33);
}


