.md-pkglist {
    display: flex;
    flex-direction: row;
    padding : 8px 10px;
}

.pkg-img-container {
    margin: 0 7px;
    border-radius: 70%;
    background-color: rgba(255, 255, 255, 0.19);
    overflow: hidden;
}

.pkg-img-container:hover {
    border-radius: 30%;
    cursor: pointer;
}

.pkg-img {
    margin: 0px auto;
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

.clicked {
    background-color: rgba(255, 255, 255, 0.33);
}


