@font-face {
    font-family: "Inter-Bold";
    src: url("chrome-extension://__MSG_@@extension_id__/Inter-Bold.ttf");
}

#ooak-modal-root {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
}

#ooak-modal-root.modal-open {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 80000%;
    top: 0;
    left: 0;

    background-color: rgba(0,0,0, 0.22);
}