@font-face {
    font-family: "Inter-Bold";
    src: url("chrome-extension://__MSG_@@extension_id__/Inter-Bold.ttf");
}

.md-nav {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    font-size: 1rem;
}

.md-nav-content {
    font-family: "Inter-Bold";
    cursor: pointer;
    margin: 1rem auto;
    padding: 0.25rem 0.5rem;

}

.md-nav-content:hover {
    color: white;
}

.nav-content-clicked {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    border-radius: 2px;
}